﻿@model OdeToFood.Models.Resturant

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Name</title>
</head>
<body>
<div>
    <p>Resturant name is @Model.Name</p>
    <p>The cusine type is @Model.CusineType</p>
</div>
</body>
</html>